---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=cWPArUZmFbzIKHAMfKfPuyqfvpwuLOLN&location=bend,or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 09 Aug 2021 01:34:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"bend,or"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Bend","adminArea5Type":"City","adminArea4":"Deschutes
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039733","unknownInput":"","type":"s","latLng":{"lat":44.058088,"lng":-121.31515},"displayLatLng":{"lat":44.058088,"lng":-121.31515},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=cWPArUZmFbzIKHAMfKfPuyqfvpwuLOLN&type=map&size=225,160&locations=44.058088,-121.31515|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1957216248"}]}]}'
  recorded_at: Mon, 09 Aug 2021 01:34:44 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0cbaaf82aedb3553a9a3421778bbfd94&exclude=minutely,alerts&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1628472883,"sunrise":1628427690,"sunset":1628479217,"temp":71.83,"feels_like":70.18,"pressure":1017,"humidity":31,"dew_point":39.61,"uvi":0.33,"clouds":1,"visibility":10000,"wind_speed":1.99,"wind_deg":329,"wind_gust":8.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1628470800,"temp":72.25,"feels_like":70.54,"pressure":1016,"humidity":29,"dew_point":38.26,"uvi":1.08,"clouds":1,"visibility":10000,"wind_speed":11.18,"wind_deg":351,"wind_gust":12.28,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628474400,"temp":71.83,"feels_like":70.18,"pressure":1017,"humidity":31,"dew_point":39.61,"uvi":0.33,"clouds":1,"visibility":10000,"wind_speed":10.2,"wind_deg":356,"wind_gust":11.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628478000,"temp":70.54,"feels_like":68.79,"pressure":1016,"humidity":32,"dew_point":39.29,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":8.9,"wind_deg":12,"wind_gust":14.99,"weather":[{"id":800,"main":"C[...]
