---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=0cbaaf82aedb3553a9a3421778bbfd94&exclude=minutely,alerts&lat=44.058088&lon=-121.31515&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":44.0581,"lon":-121.3152,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1628457524,"sunrise":1628427690,"sunset":1628479217,"temp":73.06,"feels_like":71.29,"pressure":1015,"humidity":26,"dew_point":36.18,"uvi":7.48,"clouds":1,"visibility":10000,"wind_speed":5.01,"wind_deg":328,"wind_gust":8.01,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1628456400,"temp":73.06,"feels_like":71.29,"pressure":1015,"humidity":26,"dew_point":36.18,"uvi":7.48,"clouds":1,"visibility":10000,"wind_speed":11.9,"wind_deg":9,"wind_gust":13.38,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628460000,"temp":73.8,"feels_like":72,"pressure":1014,"humidity":24,"dew_point":34.79,"uvi":6.13,"clouds":1,"visibility":10000,"wind_speed":12.71,"wind_deg":5,"wind_gust":13.42,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1628463600,"temp":74.5,"feels_like":72.73,"pressure":1014,"humidity":23,"dew_point":34.32,"uvi":4.29,"clouds":1,"visibility":10000,"wind_speed":13.94,"wind_deg":358,"wind_gust":13.94,"weather":[{"id":800,"main":"C[...]
